<template>
  <div>
      <h1>Address Transaction History</h1>
      <md-field>
        <md-input class='md-small' v-model='address' placeholder='enter address' @keyup.enter='getAccountData'></md-input>
      </md-field>
      <md-button class='md-raised md-primary' v-on:click='getAccountData'>Search</md-button>
      <md-button class='md-raised md-default' v-on:click='clear'>Clear</md-button>

      <h2>Balance of {{ address }}: {{ balance }}</h2>
      <h3 v-if='address'>History length: {{ history.length }}</h3>

      <md-table md-card v-if='history.length > 0'>
        <md-table-row>
          <md-table-head>ID</md-table-head>
          <md-table-head>Amount</md-table-head>
          <md-table-head>Fee</md-table-head>
          <md-table-head>Timestamp</md-table-head>
        </md-table-row>
        <md-table-row v-for='transaction in history'>
          <md-table-cell>
            <router-link :to='{
              name: "Transactions.show",
              params: {id: transaction.meta.id, transaction: transaction.transaction } }
            '>
              {{transaction.meta.id}}
            </router-link>
          </md-table-cell>
          <md-table-cell>{{transaction.transaction.amount}}</md-table-cell>
          <md-table-cell>{{transaction.transaction.fee}}</md-table-cell>
          <md-table-cell>{{transaction.transaction.timeStamp}}</md-table-cell>
        </md-table-row>
      </md-table md-card>
  </div>
</template>

<script>
import nem from 'nem-sdk';

const balanceComma = new Intl.NumberFormat('en-US');

export default {
  data() {
    return {
      address: '',//TCBWQO3WDQ6P45WFLZZJLQ6TVGB5Y45F4VDMM5U6',
      endpoint: {
        protocol: 'http',
        host: 'https://adamexperimental.cyberblox.my',
        port: 7891,
      },
      balance: null,
      history: []
    };
  },
  methods: {
    clear() {
      this.history = [];
      this.address = '';
      this.balance = '';
    },
    getAccountData() {
      nem.com.requests.account.data(
        this.endpoint,
        this.address,
      ).then((res) => {
        console.log(res);
        this.history = [];
        this.getTransactionHistory('');
        this.balance = `${balanceComma.format(res.account.balance / 1000000)} XEM`;
      }, (err) => {
        console.log(err);
      });
    },
    getTransactionHistory(id) {
      nem.com.requests.account.transactions.incoming(
        this.endpoint,
        this.address,
        '',
        id
      ).then((res) => {
        this.history = this.history.concat(res.data);
        const length = res.data.length;
        if (length === 25) this.getTransactionHistory(res.data[length-1].meta.id);
      }, (err) => {
        console.log(err);
      });
    },
  },
  created() {
    // this.getAccountData();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
