<template>
  <div>
    <h2>Transaction: {{id}}</h2>
    <a @click='$router.go(-1)'>Home</a>
    <md-list>
      <md-list-item>amount: {{transaction.amount}}</md-list-item>
      <md-list-item>fee: {{transaction.fee}}</md-list-item>
      <md-list-item>recipient: {{transaction.recipient}}</md-list-item>
      <md-list-item>signature: {{transaction.signature}}</md-list-item>
      <md-list-item>signer: {{transaction.signer}}</md-list-item>
      <md-list-item>type: {{transaction.type}}</md-list-item>
      <md-list-item>time stamp: {{transaction.timeStamp}}</md-list-item>
      <md-list-item>deadline: {{transaction.deadline}}</md-list-item>
    </md-list>
  </div>
</template>

<script>
export default {
  data () {
    return {
      id: null,
      transaction: {}
    }
  },
  created () {
    // fetch the data when the view is created and the data is
    // already being observed
    this.passData()
  },
  watch: {
    '$route': 'passData'
  },
  methods: {
    passData () {
      this.id = this.$route.params.id;
      this.transaction = this.$route.params.transaction;
    }
  }
}
</script>

<style scoped>
</style>
